@import "../../sass/abstracts/variables";
@import "../../sass/components/global";

 .nav {
    position: fixed;
    z-index: 2;
    
    
    
    .navContainer {
        
        
        .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        @extend %flex;  
        padding: 2rem;

        .logo {
           color: $white;
           font-family: "Monument Extended";
           font-weight: bolder;
           text-transform: uppercase; 
        }

        .menu-toggle {
            cursor: pointer;

            .hamBox {
                position: relative;
                cursor: pointer;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                transition: 0.3s ease;
                padding: 2.4rem;

                &:hover {
                    background: #2a2a2f;
                }

                &.Open {
                    background: #2a2a2f;
                }

                .lineTop, .lineBottom {
                    margin: 0 auto;
                    display: block;
                    position: absolute;
                    width: 24px;
                    height: 2px;
                    border-radius: 10px;
                    left: 0;
                    right: 0;
                    background: rgba(255, 255, 255, 0.5);
                    transform: rotate(0deg);
                    transition: all 0.4s;
                }
                .lineTop {
                    top: 2.2rem;
                    &.spin {
                        top: 2.35rem;
                        transform: rotate(135deg);
                        background: $white;
                    }
                }
                .lineBottom {
                    bottom: 2.2rem;
                    &.spin {
                        top: 2.35rem;
                        transform: rotate(225deg);
                        background: $white;
                    }
                }
            }

        }

    }

    .navOverlay {
     position: fixed;
     background: #18181c;
     z-index: -2;
     top: -100%;
     left: 0;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     padding: 4rem;
     transition: all 2s cubic-bezier(0.016, 1, 0.3, 1);

     .navLinks {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        @extend %flex;
        flex-direction: column;

        li {
            list-style: none;
            position: relative;

            a {
                color: $white;
                font-family: "Rosseta";
                font-size: 6rem;
                position: relative;
                top: 0;
                transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
                @media(max-width: $layout-breakpoint-medium) {
                    font-size: 5rem;
                }
            }

            .navItemWrapper::after {
                content: "";
                position: absolute;
                top: 120px;
                left: -10%;
                width: 120%;
                height: 100%;
                margin: 0 auto;
                background: #18181c;
            }
        }
     }

     .navFooter {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 2rem;
        @extend %flex;
        @media(max-width: $layout-breakpoint-medium) {
            justify-content: space-around;
        }

        .location {
            position: relative;
            bottom: -20px;
            opacity: 0;
            transition: all 2s cubic-bezier(0.016, 1, 0.3, 1);
            font-family: sans-serif;
            text-transform: uppercase;
            @media(max-width: $layout-breakpoint-medium) {
                display: none;
            }

        }

        .navSocialMedia {
            ul {
                display: flex;

                li {
                    position: relative;
                    bottom: -20px;
                    text-decoration: none;
                    font-family: sans-serif;
                    color: $white;
                    text-transform: uppercase;
                    padding-left: 2rem;
                    opacity: 0;
                    transition: all 2s cubic-bezier(0.016, 1, 0.3, 1) ;

                    @media(max-width: $layout-breakpoint-medium) {
                        padding: 0 1rem;
                    }
                }
            }
        }
     }
    }

}
 }